#about .box
  .imgBox
    +box_third
    display: flex
    // margin-bottom: 40px
    +box_shadow
    .imgAbout
      width: 300px
      height: 300px
      +no_cush
      // display: flex
      justify-content: center
      background-image: url('../img/rim-ninja-mix-300.png')
      +bg_contain_fixed
      border-radius: 20px
    @media (min-width: 700px)
      +box_third
      display: flex
      .imgAbout
        width: 600px
        height: 600px
        +no_cush
        // display: flex
        background-image: url('../img/rim-ninja-mix-600.png')
        +bg_contain_fixed
    @media (min-width: 993px)
      +box_half
      .imgAbout
        width: 800px
        width: 800px
        +no_cush
        background-image: url('../img/rim-ninja-mix-800.png')
        +bg_contain_fixed



.menu--container
  +box_full
  margin-bottom: 5vh
  padding: 15px
  background: rgba(#333, .4)
  box-shadow: 3px 2px 3px rgba(#333, .6)
  border-radius: 20px
  border-bottom: 1px solid rgba(#333, .6)
  border-right: 1px solid rgba(#333, .6)
  @media (min-width: 600px)
    +box_third
    margin-bottom: 10vh
    padding: 20px
  h3
    +header_style_1
    color: #333
    font-weight: bold
    text-align: center
    // margin-bottom: 20px
    // padding: 10px 20px
    // display: flex
    // justify-content: center
    // background: #999
    // border-bottom: 1px solid #f7f7f7
    // box-shadow: 2px 1px 2px rgba(#333, .3)
  ul
    +box_full
    display: flex
    flex-direction: column
    // flex-wrap: wrap
    // align-items: stretch
    @media (min-width: 993px)
      +box_third
    li
      margin: 0 0 20px
      padding: 5px 10px
      font-size: 1.2rem
      font-weight: bold
      line-height: 1.5em
      // list-style-type: decimal
      border-radius: 10px
      +box_shadow
      &:nth-child(3)
        margin-bottom: 0


.img--quickscope
  width: 400px
