*
  margin: 0
  padding: 0
  font-size: 18px
  letter-spacing: .2rem
  box-sizing: border-box

body
  +box_full
  font-family: Ubuntu
  font-style: italic
  // font-size: 1rem
  background: #444 !important

section
  width: 100%
  margin: 0
  padding: 70px 0 0 !important
  border-bottom: 2px solid #333
  background: rgba(#666, 0)

section:nth-child(odd)
  color: #333
  background: #efefe7

section:nth-child(even)
  color: #f2f2f2
  background: #444

.container,
.row
  +box_full

// .box
  +box_full
  @media (min-width: 992px)
    width: 80%
    height: auto
    margin: 0 auto 10vh
    padding: 1px

.box
  width: 100%
  margin: 0 auto 10vh
  padding: 1px
  @media (min-width: 993px)
  width: 100%
  .imgBox
    +box_half
    img
      +box_full


h2
  margin-bottom: 8vh
  padding: 5px
  text-align: center
  text-transform: uppercase
  font-weight: 600
  border-bottom: 1vh solid $clr-fill-secondary

p
  margin-bottom: 40px
  text-align: center
  line-height: 2rem
  font-weight: 500

footer p
  font-size: 1.2rem
