body
  font-family: Ubuntu

.col-lg-8 mx-auto
  width: 100%
  margin: 0 auto
  padding: 0 0 10vh

.imgSmall
  width: 60%
  height: auto

.vidBox
  width: 80%
  height: auto
  margin: 0 auto
  padding: 0
