#contact
  +box_full
  &:hover #contactImg
    transform: scale(1.2)
  // color: #333
  // background: #f4f4f4
  #contactImg
    +box_third
    margin-bottom: 20px
    +trans-0
    @media (min-width: 993px)
      +box_half
  p
    font-size: 1rem
    text-transform: uppercase
    +box_shadow
  .imgBox
    +box_third
    margin-bottom: 40px
    @media (min-width: 993px)
      +box_quarter
      margin-bottom: 10vh

img
  +box_full

.socialBox
  width: 100%
  height: auto
  margin: 0 auto
  padding: 1px
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: auto
  grid-gap: 40px
  @media (min-width: 992px)
    width: 50%
  div
    +box_full
    @media (min-width: 700px)
      +box_third
    img
      +box_full
      border-radius: 20px
      box-shadow: 2px 2px 3px rgba(#333, .3)
      +trans-0
      &:hover
        transform: scale(.8)
        box-shadow: 2px 2px 3px rgba($clr-fill-secondary, .7)
