#services
  // color: #f2f2f2
  // background: #444
  .box
    p
      margin-bottom: 30px
    .imgBox
      +box_full
      img
        +img_shadow
      @media (min-width: 700px)
        +box_third
      @media (min-width: 993px)
        +box_half

.vidBox
  +box_full
  display: flex
  @media (min-width: 600px)
    +box_third
  @media (min-width: 900px)
    +box_half
  video
    width: 100%
    height: 400px
    @media (min-width: 992px)
      height: 440px
    @media (max-width: 500px)
      height: 280px
  iframe
    width: calc(854px / 2.6)
    height: calc(480px / 2.6)
    margin: 10px auto
    @media (min-width: 600px)
      width: calc(854px / 1.9)
      height: calc(480px / 1.9)
    @media (min-width: 992px)
      width: calc(854px / 1.5)
      height: calc(480px / 1.5)
