h1
  font-size: calc(2em + 1vw)
  @media (min-width: 700px)
    font-size: calc(2.5em + 1vw)
h2
  font-size: calc(1.75em + 1vw)
  @media (min-width: 700px)
    font-size: calc(2.25em + 1vw)
h3
  font-size: calc(1.5em + 1vw)
  @media (min-width: 700px)
    font-size: calc(2em + 1vw)
h4
  font-size: calc(1.25em + 1vw)
  @media (min-width: 700px)
    font-size: calc(1.75em + 1vw)
h5
  font-size: calc(1em + 1vw)
  @media (min-width: 700px)
    font-size: calc(1.5em + 1vw)
h6
  font-size: calc(.8em + 1vw)
  @media (min-width: 700px)
    font-size: calc(1.2em + 1vw)
a,
p
  font-size: calc(1em + 1vw)
  @media (min-width: 700px)
    font-size: calc(1.1em + 1vw)
  @media (min-width: 1024px)
    // font-size: 2.25em
